
@{
    ViewBag.Title = "AddPatient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .timage {
        width: 198px;
        height: 221px;
    }

    .ctab {
        background-color: #0073aa;
        outline: 1px solid #fff;
        outline-color: rgb(255, 255, 255);
        outline-style: solid;
        outline-width: 1px;
        outline-offset: -7px;
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        line-height: 20px;
        display: block;
        /*width: auto;*/
        margin-right: 10px;
    }

    .ctab:hover {
            display: block;
            /*width: auto;*/
            text-decoration: none;
            outline: none;
        }
    .active1 {
        background-color: #005780;
    }
    .tabContent {
        display: none;
    }
    .ctd {
        width: 700px;
        padding: 4px 2px 2px 10px;
        font-weight: bold;
    }
    .minput{
        padding:0;
        border:0;
        height:50px;
        width:195px
    }

    .roundedOne {
        width: 25px;
        height: 25px;
        position: relative;
        margin: 20px auto;
        background: #fcfff4;
        background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
        border-radius: 50px;
        box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    }
    .Button-group {
        width: 146.750px;
        color: #fff;
    }
    
</style>
<script>
    $(document).keypress(function (event) {
      
    var keycode = (event.keyCode ? event.keyCode : event.which);
    if(keycode == '13'){
        var EN = $("#EmployeeNumber").val();
        
                 $.ajax({
                url: '@Url.Action("Test", "Patient")',
                    
                     data: { 'Emp': EN },
                     type: "POST",
                     cache:false,
                     success: function (result) {
                         if (result == null) {
                             alert("Employee Number doews not exist");
                         }
                $("#DOB").val(result.FirstName);
                $("#Gender").val(result.LastName);
                  }
               });
               
    }
})
    function call() {
                
        var EN = $("#EmployeeNumber").val();
        
                 $.ajax({
                url: '@Url.Action("Test", "Patient")',
                    
                     data: { 'Emp': EN },
                     type: "POST",
                     cache:false,
                     success: function (result) {
                         if (result == null) {
                             alert("Employee Number does not exist");
                         }
                $("#DOB").val(result.FirstName);
                $("#StudentGender").val(result.LastName);
                  }
               });
               
            }
</script>
<div class="pcoded-main-container" style="margin-top:56px">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="page-body row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="wizard">
                                                    <section>
                                                        <div class="nav nav-tabs md-tabs col-sm-12">
                                                            <button class="btn-xlg primary-btn ctab tablinks col-sm-2" role="tab" onclick="tabselector(event,'Register')" id="pat">1. Patient <i class="icofont icofont-arrow-right"></i></button>
                                                            <button class="btn-xlg primary-btn ctab tablinks col-sm-2" role="tab" onclick="tabselector(event,'Appointment')" id="ap">2. Appointment <i class="icofont icofont-arrow-right"></i></button>
                                                            <button class="btn-xlg primary-btn ctab tablinks col-sm-2" role="tab" onclick="tabselector(event,'Diagnosis')" id="diag">3. Diagnosis<i class="icofont icofont-arrow-right"></i></button>
                                                            <button class="btn-xlg primary-btn ctab tablinks col-sm-2" role="tab" onclick="tabselector(event,'Prescription')" id="pres">4. Prescription <i class="icofont icofont-arrow-right"></i></button>
                                                            @*<button class="btn-xlg primary-btn ctab tablinks" role="tab" onclick="readonly()">2. Parent Information <i class="icofont icofont-arrow-right"></i></button>*@
                                                        </div>
                                                        <fieldset style="width:100%" class="tabContent" id="Register">
                                                            <div class="card-block">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div id="wizard">
                                                                            <section>
                                                                                <div class="wizard-form" id="example-advanced-form">
                                                                                    @Html.AntiForgeryToken()
                                                                                    <table class="table col-md-12 table-bordered">
                                                                                        <tr>
                                                                                            <td style="width:226px">
                                                                                                <div class="form-control-inverse">
                                                                                                    <div id="image-holder" class="form-control form-control-inverse" style="height:221px;width:200px;padding:0"></div>
                                                                                                    <br />
                                                                                                    <input id="Image" name="Image" type="file" class="required form-control form-control-inverse" style="width:200px">
                                                                                                </div>
                                                                                            </td>
                                                                                            <td class="ctd">
                                                                                                <div class="form-group row col-sm-12">
                                                                                                    <div class="col-sm-2" style="padding-left:5px;padding-right:2px">
                                                                                                        <label for="EmployeeNumber" class="block" style="line-height:50px">Employee #:</label>
                                                                                                    </div>
                                                                                                    <div class="col-sm-4" style="padding-left:5px;">
                                                                                                        <input type="text" id="EmployeeNumber" name="EmployeeNumber" placeholder="Null if Not an Employee" class="required form-control form-control-inverse" />
                                                                                                    </div>
                                                                                                    <div class="col-sm-2" style="padding-left:5px; padding-right:2px; text-align:center">
                                                                                                        <label for="Name" class="block" style="line-height:50px">Name:</label>
                                                                                                    </div>
                                                                                                    <div class="col-sm-4" style="padding-left:5px">
                                                                                                        <input type="text" id="Name" name="Name" placeholder="Patient Full Name" class="required form-control form-control-inverse" />
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="form-group row col-sm-12">
                                                                                                    <div class="col-sm-2" style="padding-left:5px; padding-right:2px">
                                                                                                        <label for="DOB"  class="block" style="line-height:50px">Date Of Birth:</label>
                                                                                                    </div>
                                                                                                    <div class="col-sm-4" style="padding-left:5px">
                                                                                                        <input  onfocus="this.type='date'"  id="DOB" name="DOB" placeholder="Date of Birth" class="required form-control form-control-inverse" />
                                                                                                    </div>
                                                                                                    <div class="col-sm-2" style="padding-left:5px;padding-right:2px; text-align:center">
                                                                                                        <label for="StudentGender" class="block" style="line-height:50px">Gender:</label>
                                                                                                    </div>
                                                                                                    <div class="col-sm-4" style="padding-left:5px">
                                                                                                        <select id="Gender" name="Gender" type="" class="required form-control form-control-inverse">
                                                                                                            <option value="" disabled selected>Select Gender</option>
                                                                                                            <option value="Male">Male</option>
                                                                                                            <option value="Female">Female</option>
                                                                                                        </select>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="form-group row col-sm-12">
                                                                                                    <div class="col-sm-2" style="padding-left:5px; padding-right:2px">
                                                                                                        <label for="RegistrationDate" class="block" style="line-height:50px">Registration:</label>
                                                                                                    </div>
                                                                                                    <div class="col-sm-4" style="padding-left:5px">
                                                                                                        <input onfocus="this.type='date'" id="RegistrationDate" name="RegistrationDate" placeholder="Today's Date" class="required form-control form-control-inverse today" />
                                                                                                    </div>
                                                                                                    <div class="col-sm-2" style="padding-left:5px;padding-right:2px; text-align:center">
                                                                                                        <label for="PhoneNumber" class="block" style="line-height:50px">Phone #:</label>
                                                                                                    </div>
                                                                                                    <div class="col-sm-4" style="padding-left:5px">
                                                                                                        <input id="PhoneNumber" name="PhoneNumber" class="required form-control form-control-inverse" />

                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="form-group row col-sm-12" style="border-bottom:0">
                                                                                                    <div class="col-sm-2" style="padding-left:5px">
                                                                                                        <label for="Address" class="block" style="line-height:50px">Address:</label>
                                                                                                    </div>

                                                                                                    <div class="col-sm-10" style="padding-left:5px">
                                                                                                        <textarea id="Address" name="Address" class="required form-control form-control-inverse"></textarea>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-sm-12 form-group row">
                                                                                                    <div class="col-sm-9"></div>
                                                                                                    <div class="col-sm-3" style="padding-left:5px">
                                                                                                        <button class="btn-primary btn-sm Button-group" onclick="NextPatient()">Next</button>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </div>
                                                                            </section>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                        <fieldset class="tabContent" id="Appointment" style="width:100%">
                                                            <div class="card-block">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div id="wizard">
                                                                            <section>
                                                                                <div class="wizard-form" id="example-advanced-form">
                                                                                    @Html.AntiForgeryToken()
                                                                                    <table class="table col-md-12 table-bordered">
                                                                                        <tr>
                                                                                            <td style="border-bottom:none;padding-bottom:0" class="ctd">
                                                                                                <div class="form-group row col-sm-12">
                                                                                                    <div class="col-sm-1" style="padding-left:5px;padding-right:2px">
                                                                                                        <label for="PatientName" class="block" style="line-height:50px">Patient :</label>
                                                                                                    </div>
                                                                                                    <div class="col-sm-5" style="padding-left:5px;">
                                                                                                        <input type="text" id="PatientName" name="PatientName" class="required form-control form-control-inverse" onclick="check()" readonly />
                                                                                                    </div>
                                                                                                    <div class="col-sm-1" style="padding-left:5px; padding-right:2px">
                                                                                                        <label for="Name" class="block" style="line-height:50px">Doctor:</label>
                                                                                                    </div>
                                                                                                    <div class="col-sm-5" style="padding-left:5px">
                                                                                                        <select type="text" id="DoctorName" name="DoctorName" class="required form-control form-control-inverse" />
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="border-top:none;padding-top:0" class="ctd">
                                                                                                <div class="form-group row col-sm-12">
                                                                                                    <div class="col-sm-1" style="padding-left:5px;padding-right:2px">
                                                                                                        <label for="Date" class="block" style="line-height:50px">Date :</label>
                                                                                                    </div>
                                                                                                    <div class="col-sm-5" style="padding-left:5px;">
                                                                                                        <input onfocus="this.type='date'" id="Date" name="Date" placeholder="Today's Date" class="required form-control form-control-inverse" />
                                                                                                    </div>
                                                                                                    <div class="col-sm-1" style="padding-left:5px; padding-right:2px">
                                                                                                        <label for="Name" class="block" style="line-height:50px">Time:</label>
                                                                                                    </div>
                                                                                                    <div class="col-sm-5" style="padding-left:5px">
                                                                                                        <input type="time" id="DoctorName" name="DoctorName" class="required form-control form-control-inverse" />
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </div>
                                                                            </section>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>

                                                        <fieldset class="tabContent" id="Diagnosis" style="width:100%">
                                                            <div class="card-block">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div id="wizard">
                                                                            <section>
                                                                                <div class="wizard-form" id="example-advanced-form">
                                                                                    @Html.AntiForgeryToken()
                                                                                    <table class="table col-md-12 table-bordered">
                                                                                        <tr>
                                                                                            <td class="ctd">
                                                                                                <div class="form-group row col-sm-12">
                                                                                                    <div class="col-sm-1" style="padding-left:5px;padding-right:2px">
                                                                                                        <label for="PatientName" class="block" style="line-height:50px">Patient :</label>
                                                                                                    </div>
                                                                                                    <div class="col-sm-4" style="padding-left:5px;">
                                                                                                        <input type="text" id="PatientName" name="PatientName" class="required form-control form-control-inverse" readonly/>
                                                                                                    </div><div class="col-sm-1"></div>
                                                                                                    <div class="col-sm-2" style="padding-left:5px; padding-right:2px; text-align:center">
                                                                                                        <label for="DoctorName" class="block" style="line-height:50px">Doctor Name :</label>
                                                                                                    </div>
                                                                                                    <div class="col-sm-4" style="padding-left:5px">
                                                                                                        <input type="text" id="DoctorName" name="DoctorName" class="required form-control form-control-inverse" readonly />
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="form-group row col-sm-12">
                                                                                                    <div class="col-sm-1" style="padding-left:5px;padding-right:2px">
                                                                                                        <label for="Temperature" class="block" style="line-height:50px">Temp.  :</label>
                                                                                                    </div>
                                                                                                    <div class="col-sm-4" style="padding-left:5px;">
                                                                                                        <input type="text" id="Temperature" name="Temperature" class="required form-control form-control-inverse" />
                                                                                                    </div><div class="col-sm-1"></div>
                                                                                                    <div class="col-sm-2" style="padding-left:5px; padding-right:2px; text-align:center">
                                                                                                        <label for="BloodPressure" class="block" style="line-height:50px">Blood Pressure:</label>
                                                                                                    </div>
                                                                                                    <div class="col-sm-4" style="padding-left:5px">
                                                                                                        <input type="text" id="BloodPressure" name="BloodPressure" class="required form-control form-control-inverse" />
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="form-group row col-sm-12">
                                                                                                    <div class="col-sm-1" style="padding-left:5px;padding-right:2px">
                                                                                                        <label for="Symptoms" class="block" style="line-height:50px">Symptoms :</label>
                                                                                                    </div>
                                                                                                    <div class="col-sm-4" style="padding-left:5px">
                                                                                                        <textarea id="Symptoms" name="Symptoms" class="required form-control form-control-inverse"></textarea>
                                                                                                    </div><div class="col-sm-1"></div>
                                                                                                    <div class="col-sm-2" style="padding-left:5px;padding-right:2px;text-align:center">
                                                                                                        <label for="DiagnoseProblem" class="block" style="line-height:50px">DiagnoseProblem:</label>
                                                                                                    </div>
                                                                                                    <div class="col-sm-4" style="padding-left:5px">
                                                                                                        <textarea id="DiagnoseProblem" name="DiagnoseProblem" class="required form-control form-control-inverse"></textarea>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td> 
                                                                                        </tr>
                                                                                        <tr>
                                                                                            
                                                                                        </tr>
                                                                                    </table>
                                                                                </div>
                                                                            </section>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>

                                                        <fieldset class="tabContent" id="Prescription" style="width:100%">
                                                            <div class="card-block">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div id="wizard">
                                                                            <section>
                                                                                <div class="wizard-form" id="example-advanced-form">
                                                                                    @Html.AntiForgeryToken()
                                                                                    <table class="table col-md-12 table-bordered " id="maintable">
                                                                                        <tr>
                                                                                            <th align="center">Medicine Name</th>
                                                                                            <th align="center">Dosage</th>
                                                                                            <th align="center">Quantity</th>
                                                                                            <th align="center">Morning</th>
                                                                                            <th align="center">Evening</th>
                                                                                            <th align="center">Night</th>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="width: 192px;padding:0">
                                                                                                <input type="text" name="MedicineName" id="MedicineName" class="minput" onclick="Addnew()" />
                                                                                            </td>
                                                                                            <td style="width: 192px;padding:0">
                                                                                                <input type="text" name="Dosage" id="Dosage" class="minput"/>
                                                                                            </td>
                                                                                            <td style="width: 192px;padding:0">
                                                                                                <input type="text" name="Quantity" id="Quantity" class="minput"/>
                                                                                            </td>
                                                                                            <td style="width: 192px;padding:0">
                                                                                                <input type="checkbox" id="Morning" class="roundedOne form-control"/>
                                                                                            </td>
                                                                                            <td style="width: 192px;padding:0">
                                                                                                <input type="checkbox" id="Evening" class="roundedOne form-control"/>
                                                                                            </td>
                                                                                            <td style="width: 192px;padding:0">
                                                                                                <input type="checkbox" id="Night" class="roundedOne form-control"/>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </div>
                                                                            </section>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);

        var today = (month) + "/" + (day) + "/" + now.getFullYear();
        $('#Date').val(today);
        $('#RegistrationDate').val(today);

          $('#DoctorName').html('');
        var options = '';
    $.ajax({
        url: '@Url.Action("GetDoctors", "Doctors")',
        type: "GET",
        cache: false,
        
                      success: function (data) {
                         var options = '';
                         debugger
                          options += '<option value="Select">Select</option>';
                          $.each(data, function (id, dr) {
                              options += '<option value="' + dr.UserName + '">' + dr.UserName + '</option>';
                          });
                         //for (var i = 0; i < result.length; i++) {
                         //    options += '<option value="' + result[i] + '">' + result[i] + '</option>';
                         //}
                         $('#DoctorName').append(options); 
                       },
            error: function (response) {
                debugger
                alert('Error');
            }
               });

    $("#PhoneNumber").inputmask({ "mask": "(03)-99-99999999" });
    function tabselector(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabContent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace("active", "");
        }
        document.getElementById(tabName).style.display = "block";
        if(evt!=null)
        evt.currentTarget.className += "btn-xlg primary-btn ctab tablinks col-sm-2 active1";
       
    }
    function NextPatient() {
        var employeeNum,name, dob, gender, reg, phone, address,image;

        employeeNum = $("#EmployeeNumber").val();
        name = $("#Name").val();
        dob = $("#DOB").val();
        gender = $("#Gender").val();
        reg = $("#RegistrationDate").val();
        phone = $("#PhoneNumber").val();
        address = $("#Address").val();
        image = document.getElementById("Image").files[0];
        debugger
        if (name=="" || dob == "" || gender == "" || reg == "" || phone == "" || address == "") {
            alert('Please Fill Out The form ');
        }
        else {
            //sendingData to controller
            var fd = new FormData();
            fd.append("Name", name);
            fd.append("DOB", dob);
            fd.append("Gender", gender);
            fd.append("RegistrationDate", reg);
            fd.append("PhoneNumber", phone);
            fd.append("Address", address);
            fd.append("Img", image);
            $.ajax({
                url: '@Url.Action("AddPatient","Patient")',
                type: 'POST',
                cache: false,
                contentType: false,
                processData: false,
                data: fd,
                success: function (response) {
                    $("#PatientName").val(response);
                    alert(response);
                }
            });

            tabselector(null, 'Appointment');
            var formdata = new FormData();
            $("#ap").addClass("btn-xlg primary-btn ctab tablinks col-sm-2 active1");
        }
      
       
    }
    function Addnew() {
        var markup = "<tr><td style='width: 192px; padding: 0'> <input type='text' id='MedicineName' class='minput' onclick='Addnew()'/></td>"+
            "<td style='width: 192px; padding: 0'> <input type='text' id='Dosage' class='minput'/></td>"+
            "<td style='width: 192px; padding: 0'><input type='text' id='Quantity'  class='minput'/></td>" +
            "<td style='width: 192px; padding: 0'> <input type='checkbox' id='Morning' class='roundedOne form-control'/> </td>"+
           "<td style='width: 192px; padding: 0'> <input type='checkbox' id='Evening' class='roundedOne form-control'/>  </td>"+
            "<td style='width: 192px; padding: 0'><input type='checkbox' id='Night'  class='roundedOne form-control'/></td> </tr>";



        $("#maintable").append(markup);
    }
    function readonly() {
        var ro;
        ro = (document).getElementById("Register");
        ro.style.pointerEvents = "none";
    }


    $(function () {
        $("#Image").on('change', function () {
            //Get count of selected files
            var countFiles = $(this)[0].files.length;

            var imgPath = $(this)[0].value;
            var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
            var image_holder = $("#image-holder");
            image_holder.empty();

            if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
                if (typeof (FileReader) != "undefined") {

                    //loop for each file selected for uploaded.
                    for (var i = 0; i < countFiles; i++) {

                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $("<img />", {
                                "src": e.target.result,
                                "class": "thumb-image timage"
                            }).appendTo(image_holder);
                        }
                        image_holder.show();
                        reader.readAsDataURL($(this)[0].files[i]);
                    }

                } else {
                    alert("This browser does not support FileReader.");
                }
            } else {
                alert("Pls select only images");
            }
        });
    });
   

</script>
<script src="~/ThemeAssets/pages/form-masking/jquery-input-mask-phone-number.js"></script>